<p id="notice"><%= notice %></p>

<h1>My Artists</h1>
<p>
  <%= link_to new_artist_path do %>
    <span class="glyphicon glyphicon-plus"></span> Add Artist
    <% end %>
</p>
<div class="row">
  <% @artists.each do |artist| %>
    <div class="col-md-6">
      <div class="well">
        <h1>
          <%= link_to artist.name, artist %>
        </h1>
        <p>
          <%= link_to edit_artist_path(artist) do %>
          <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          <%= link_to artist, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </p>
      </div>

    </div>
  <% end %>
</div>
