<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="well well-lg">
      <h2><%= @song.name %></h2>
      <h3>by
      <%= @song.artist.name %>
    </h3>
      <h4><% @song.rating.times do %>
          <span class="glyphicon glyphicon-star"></span>
          <% end %>
      </h4>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
